# install this to /lib/systemd/system
[Unit]
Description=alert2twcall - send alertmanagers alerts to phone calls via twilio
Documentation=https://pending.example.com
After=network.target

[Service]
EnvironmentFile=/etc/default/alert2twcall
Type=simple
User=ubuntu
ExecStart=/usr/local/alert2twcall/bin/www
Restart=on-failure

[Install]
WantedBy=multi-user.target
